<br>
<br>
<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-12">
      <h3>LISTA DE PROSPECTOS</h3>
      <hr>
      <table class=" table table-striped table-hover ">
        <thead>
          <tr>
            <td><b>Nombre del prospecto </b></td>
            <td><b>Primer apellido </b></td>
            <td><b>Segundo apellido </b></td>
            <td><b>Estatus </b></td>
            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForm"
                (click)="vaciarProspecto()">+</button></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaPrincipal">
            <td>{{item.nombre}} </td>
            <td> {{item.apellidoPat}} </td>
            <td> {{item.apellidoMat}} </td>
            <td> {{item.estatus}} </td>
            <td>
              <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalEditar"
                (click)="obtenerProspecto(item.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                  viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalFormLabel">Agregar prospecto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td><b>Nombre </b></td>
            <td>
              <input [(ngModel)]="prospecto.nombre" type="text" class="form-control" placeholder="Nombre" />
              <a *ngIf="prospecto.nombre==''&& infoVacia==true" style="font-size: 10px;" class="text-danger"> *Falta agregar Nombre </a>
            </td>
          </tr>
          <tr>
            <td><b>Apellido paterno</b></td>
            <td>
              <input [(ngModel)]="prospecto.apellidoPat" type="text" class="form-control"
                placeholder="Apellido paterno" />
              <a *ngIf="prospecto.apellidoPat==''&& infoVacia==true" style="font-size: 10px;" class="text-danger"> *Falta agregar Apellido paterno </a>
            </td>
          </tr>
          <tr>
            <td><b>Apellido Materno</b></td>
            <td>
              <input [(ngModel)]="prospecto.apellidoMat" type="text" class="form-control"placeholder="Apellido materno" />
            </td>
          </tr>
          <tr>
            <td><b>Calle </b></td>
            <td>
              <input [(ngModel)]="prospecto.calle" type="text" class="form-control" placeholder="Calle" />
              <a *ngIf="prospecto.calle==''&& infoVacia==true" style="font-size: 10px;" class="text-danger"> *Falta agregar calle </a>
            </td>
          </tr>
          <tr>
            <td><b>Número </b></td>
            <td>
              <input [(ngModel)]="prospecto.numero" type="text" class="form-control" placeholder="Número" />
              <a *ngIf="prospecto.numero==''&& infoVacia==true" style="font-size: 10px;" class="text-danger"> *Falta agregar número</a>
            </td>
          </tr>
          <tr>
            <td><b>Colonia </b></td>
            <td>
              <input [(ngModel)]="prospecto.colonia" type="text" class="form-control" placeholder="Colonia" />
              <a *ngIf="prospecto.colonia==''&& infoVacia==true" style="font-size: 10px;" class="text-danger"> *Falta agregar Colonia </a>
            </td>
          </tr>
          <tr>
            <td><b>Código postal </b></td>
            <td>
              <input [(ngModel)]="prospecto.codigoPostal" type="text" class="form-control" placeholder="Código postal" />
              <a *ngIf="prospecto.codigoPostal==''&& infoVacia==true" style="font-size: 10px;" class="text-danger"> *Falta agregar Código postal </a>
            </td>
          </tr>
          <tr>
            <td><b>Telefono </b></td>
            <td>
              <input [(ngModel)]="prospecto.telefono" type="text" class="form-control" placeholder="Telefono" />
              <a *ngIf="prospecto.telefono==''&& infoVacia==true" style="font-size: 10px;" class="text-danger"> *Falta agregar Telefono </a>
            </td>
          </tr>
          <tr>
            <td><b>RFC </b></td>
            <td>
              <input [(ngModel)]="prospecto.rfc" type="text" class="form-control" placeholder="RFC" />
              <a *ngIf="prospecto.rfc==''&& infoVacia==true" style="font-size: 10px;" class="text-danger"> *Falta agregar rfc </a>
            </td>
          </tr>
          <tr>
            <td><b>Documentos </b></td>
            <td><button class="btn btn-success" (click)="agregarDocumento()">+</button></td>
          </tr>
          <tr *ngFor="let doc of prospecto.archivos">
            <td><input [(ngModel)]="doc.nombre" type="text" class="form-control" placeholder="Nombre Archivo" /></td>
            <td><input (change)="upload($event,doc)" type="file"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="guardar()">guardar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalFormLabel">Agregar prospecto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td><b>Nombre </b></td>
            <td>{{infoProspecto.nombre }}</td>
          </tr>
          <tr>
            <td><b>Apellido paterno</b></td>
            <td>{{infoProspecto.apellidoPat }}</td>
          </tr>
          <tr>
            <td><b>Apellido Materno</b></td>
            <td>{{infoProspecto.apellidoMat }}</td>
          </tr>
          <tr>
            <td><b>Calle </b></td>
            <td>{{infoProspecto.calle }}</td>
          </tr>
          <tr>
            <td><b>Número </b></td>
            <td>{{infoProspecto.numero }}</td>
          </tr>
          <tr>
            <td><b>Colonia </b></td>
            <td>{{infoProspecto.colonia }}</td>
          </tr>
          <tr>
            <td><b>Código postal </b></td>
            <td>{{infoProspecto.codigoPostal}}</td>
          </tr>
          <tr>
            <td><b>Telefono </b></td>
            <td>{{infoProspecto.telefono }}</td>
          </tr>
          <tr>
            <td><b>RFC </b></td>
            <td>{{infoProspecto.rfc }}</td>
          </tr>
          <tr>
            <td><b>Estatus </b></td>
            <td>
              <table *ngIf="infoProspecto.estatus=='Enviado'">
                <tr>
                  <td>
                    <label *ngFor="let val of estatus">
                      <input type="radio" name="estatus" [value]="val.id" [(ngModel)]="estatusSelect"
                        (change)="asignarEstatus(val)">
                      {{ val.nombre }}
                    </label>
                    <textarea *ngIf="estatusSelect=='290312ed-2454-48d3-878c-038a8fe4977e'" class="form-control"
                      placeholder="Escribe aquí..." [(ngModel)]="comentarioEstatus"></textarea>
                    <div *ngIf="mostrarComentario==true" style="font-size: 10px;" class="text-danger">*Agregar comentario</div>
                  </td>
                  <td></td>
                </tr>
              </table>
              <a *ngIf="infoProspecto.estatus!='Enviado'">{{infoProspecto.estatus}} </a>
            </td>
          </tr>
          <tr>
            <td><b>Documentos </b></td>
            <td></td>
          </tr>
          <tr *ngFor="let doc of infoProspecto.archivos">
            <td>{{doc.nombre}}</td>
            <td><button class="btn btn-primary" (click)="openUrl(url + doc.ruta)">ver</button></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeM" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button *ngIf="infoProspecto.estatus=='Enviado'" type="button" class="btn btn-primary"
          (click)="guardarEstatus(infoEstatus)">guardar</button>
      </div>
    </div>
  </div>
</div>